.ordersFooter {
    display: flex;
    justify-content: space-between;
    padding:var(--radius-xl);
    align-items: center;
}

.ordersFooter ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
    align-items: center;
}

.ordersFooter li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerButton {
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    color: gray;
    font-weight: 600;
}

.footerButton svg {
    width: 100%;
    height: 100%;
}

.footerButton:hover {
    background-color: var(--color-background);
    color: black;
}

.right,
.left {
    background-color: var(--color-background);
}

.selected,
.selected:hover {
    background-color: var(--color-actions);
    color: black;
}