.TableHeader {
    display: flex;
    justify-content: space-between;
    padding: var(--radius-xl);
    align-items: center;

}


.orderActionSection {

    display: flex;
    align-items: center;
    gap: 16px;
}

.searchBar {
    height: fit-content;
    width: fit-content;
    display: flex;
    background-color: var(--color-background);
    border-radius: var(--radius-sm);
    padding: var(--radius-sm);
    gap: 8px;
}

.leftGroup {
    display: flex;
    gap: 16px;
}

.filterCardsContainer {
    display: flex;
    gap: 8px;
}


.filterCard button {
    display: flex;
    align-items: center;
}

.filterCard svg:hover {
    color: var(--color-returned);
}

.moreFilters {
    height: fit-content;
    background-color: var(--color-actions);
    padding: var(--radius-sm);
    border-radius: var(--radius-xs);
    font-weight: 600;
}


.filterWrapper {
    position: relative;
}

.filterPopoverContainer {
    z-index: 1;
    position: absolute;
    background-color: var(--color-card);
    padding: var(--radius-xl);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    right: calc(100% - 1.5rem);
    top: calc(100% + 16px);
    width: 379px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    border-radius: var(--radius-md);

}

.filterBody {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.filterFooter {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}


.filterSection {
    display: flex;
    gap: 16px;
    flex-direction: column;
}


.applyBtn {
    border-radius: var(--radius-xs);
    padding: var(--radius-xl);
    background-color: var(--color-primary);
    color: white;
}

.clearBtn {
    color: gray;
}

.clearBtn:hover {
    color: var(--color-returned);
}


.filterCard {
    display: flex;
    height: fit-content;
    background-color: var(--color-background);
    padding: var(--radius-sm) var(--radius-lg);
    border-radius: var(--radius-xs);
    align-items: center;
    font-weight: 600;
    color: gray;
    width: 105px;
    justify-content: center;
}



.courierOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.courierOptions .filterCard:hover {
    background-color: var(--color-actions);
    color: black;
}






.filterFooter button {
    white-space: nowrap;
    font-weight: 600;
}

.amountOptions {
    display: flex;
    gap: 16px;
}

.amountOptions input {
    background-color: var(--color-background);
    border-radius: var(--radius-xs);
    width: 100%;
    height: 28px;
    padding: 16px;

}


.amountOptions input:focus {
    background-color: var(--color-actions);
}


.StatusOptions {
    display: flex;
    gap: 16px;
}

.StatusCard {
    display: flex;
    gap: 8px;
    background-color: var(--color-background);
    align-items: center;
    padding: var(--radius-md);
    border-radius: var(--radius-sm);
    font-weight: 600;
    width: 105px;
    justify-content: center;
}


.suqre {
    height: 8px;
    aspect-ratio: 1;
}

.StatusCard:hover {
    background-color: var(--color-actions);
}


.dateOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.dateCard {
    display: flex;
    height: fit-content;
    background-color: var(--color-background);
    padding: var(--radius-sm) var(--radius-lg);
    border-radius: var(--radius-xs);
    align-items: center;
    font-weight: 600;
    color: gray;
    width: 105px;
    justify-content: center;
    white-space: nowrap;
    gap: 8px;
}

.dateOptions input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    height: 12px;
    aspect-ratio: 1;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    
    
}

.dateOptions input[type="radio"]:checked {
    border: 6px solid var(--color-primary);
}