.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 0;
}

.dashboardsContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(185px, 1fr));
    gap: 20px;
    width: 100%;
}

.mainContiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    flex: 1;
    min-height: 0;
    height: 100%;
}

.leftContiner {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 8px;
}

.rightContiner {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 0;
    min-width: 0;
    height: 100%;
}

@media (max-width: 1150px) {
    .main {
        min-height: min-content;
        height: auto;
        flex: none;
    }

    .dashboardsContainer {
        grid-template-columns: repeat(2, minmax(185px, 1fr));
    }

    .mainContiner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 395px;
        height: auto;
        min-height: min-content;
        flex: none;
    }

    .leftContiner {
        min-width: 395px;
        min-height: 380px;
        height: auto;
        flex: none;
    }

    .rightContiner {
        min-width: 395px;
        height: auto;
        min-height: min-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: none;
    }

    .rightContiner>* {
        min-height: 360px;
        height: auto;
        flex: none;
    }
}


.orderSection {
    padding: clamp(14px, 1.2vw, 24px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: var(--color-card);
    border-radius: 16px;
    flex: 1;
    min-height: 0;
    
}






