.bestSellers {
    flex: 1;
    background-color: var(--color-card);
    border-radius: var(--radius-md);
    padding: var(--radius-xl);
    display: flex;
    flex-direction: column;
    gap: 8  px;
    min-height: 0;
}

.bestSellersHeader {
    display: flex;
    justify-content: space-between;
}

.bestSellersHeader a {
    color: var(--color-primary);
    font-weight: 600;
}

.bestSellersCard{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
    font-size: clamp(1rem, 3.5cqh, 1.5rem);

   
}

.bestSellersBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    container-type: size;
}

.bestSellersBody img {
    aspect-ratio: 1;
    height: clamp(40px, 15cqh, 80px);
    border-radius: var(--radius-md);
    object-fit: cover;
}

.procutInfo{
    display: flex;
    gap: clamp(8px, 3cqh, 16px);
    align-items: center;
}

.bestSellersPrice{
    color: gray;
}

