
.tableContainer ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
      

}

.tableContainer .orderId input {
    width: 1rem;
    height: 1rem;

    background-color: var(--color-background);
    
}

.tableContainer .orderId input:hover{
    background-color: var(--color-actions);
}

.tableContainer .orderId span{
    color: gray;
} 



.tableContainer ul li {
    display: flex;
    justify-content: center;
    
    font-weight: 600;
    padding: 20px;
    gap: 8px;
    
}
.labels ul li {
    color: gray;
    
}



.tableContainer ul li.orderId {
    justify-content: flex-start;
    display: flex;
    gap: 1.5rem;
}


.courier , .date{
    color: gray;
}


.customer{
    font-size: medium;
    
}

.suqre{
    width: 0.5rem;
    height: 0.5rem;
}

.status{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}