 .tooltipContainer {
     position: relative;
 }


 .tooltipChildren {
     position: relative;
 }

 .tooltip {
     position: absolute;
     z-index: 1;
     background-color: var(--color-card);
     border: 1px var(--color-primary) solid;
     border-radius: var(--radius-xs);
     padding: var(--radius-lg);
     width: max-content;
     white-space: nowrap;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     font-weight: 600;
     font-size: medium;

     left: 50%;
     transform: translateX(-50%);
     bottom: calc(100% + 16px);

     visibility: hidden;
     opacity: 0;
     transition: opacity 0.2s ease;
 }

.tooltipContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}