 .tooltipContainer {
     position: relative;
 }


 .tooltipChildren {
     position: relative;
 }

 .tooltip {
     position: fixed;
     top: 0;
     left: 0;
     pointer-events: none;
     z-index: 1;
     background-color: var(--color-card);
     border: 1px var(--color-primary) solid;
     border-radius: var(--radius-xs);
     padding: var(--radius-lg);
     width: max-content;
     white-space: nowrap;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     font-weight: 600;
     font-size: medium;

 }

