.DashboardCard {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 185px;
    /* max-width: 326px; */

    min-height: 120px;

    background-color: var(--color-card);
    border-radius: var(--radius-xl, 16px);
    padding: var(--radius-xl, 16px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.title {
    margin: 0;
    font-size: clamp(13px, 0.9vw, 16px);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    opacity: 0.4;
}

.change {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: clamp(11px, 0.8vw, 13px);
    font-weight: 600;
    white-space: nowrap;
    flex-shrink: 0;
}

.changePositive {
    color: #16a34a;
    background: #dcfce7;
}

.changeNegative {
    color: #dc2626;
    background: #fee2e2;
}

.middleRow {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.value {
    font-size: clamp(20px, 1.8vw, 32px);
    font-weight: 600;
    white-space: nowrap;
}

.arrow {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-shrink: 0;
}

.arrow svg {
    width: 12px;
    height: 12px;
}

.arrowPositive {
    color: #16a34a;
    background: #dcfce7;
}

.arrowNegative {
    color: #dc2626;
    background: #fee2e2;
}

.bottomRow {
    margin-top: 8px;
    font-size: clamp(11px, 0.8vw, 13px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    opacity: 0.4;
}